@{
    ViewData["Title"] = "Inicio-Vista";
}


@using (Html.BeginForm())
{
    <!DOCTYPE HTML>

    <html>
    <head>
        <title>viajes</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

        <link rel="stylesheet" href="~/assets/css/main.css" />
        <link rel="stylesheet" href="~/assets/css/main.css" />
    </head>
    <body class="is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header">
                <h1>ViajesQUINSALOMA</h1>
                <nav id="nav">
                    <ul>

                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Cooperativa" asp-action="Cooperativa">Cooperativa</a></li>
                        <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Administrador</a></li>
                        <li>
                            <a href="#" class="icon solid fa-angle-down">Layouts</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option One</a></li>
                                        <li><a href="#">Option Two</a></li>
                                        <li><a href="#">Option Three</a></li>
                                        <li><a href="#">Option Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="button">Sign Up</a></li>
                    </ul>
                </nav>
            </header>


            <section id="main" class="container medium">
                <header>
                    <h2>Ingreso al sistema</h2>
                    <p>Usuarios</p>
                </header>
                <div class="box">

                    <center><h3>Login</h3>  </center>

                    <center>
                        <img src="/images/wifi.png" class="mx-auto w-25" />
                    </center>
                    <br />
                    <form action="" method="post" name="FormEntrar">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-12">

                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario">
                            </div>
                        </div>
                        <br />
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-12">
                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="pass" id="pass" placeholder="Contraseña">
                            </div>
                        </div>
                        <br />
                        <div class="col-12">
                            <ul class="actions special">
                                <li>
                                    <input type="button" class="btn btn-lg btn-primary btn-block btn-signin" name="btnVerifivaca" id="btnVerifica" onclick="validar()" value="verificar" style="width: 100%">
                                    <br />
                                    <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
                                </li>
                            </ul>
                        </div>
                    </form>



                </div>
            </section>
        </div>
    </body>
</html>



}
