
    <!DOCTYPE HTML>

    <html>
    <head>
        <title>viajes</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

        <link rel="stylesheet" href="~/assets/css/main.css" />
    </head>
    <body class="landing is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="index.html">Viajes</a>QUINSALOMA</h1>
                <nav id="nav">
                    <ul>


                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Cooperativa" asp-action="Cooperativa">Cooperativa</a></li>
                        <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Administrador</a></li>


                        <li>
                            <a href="#" class="icon solid fa-angle-down">Layouts</a>
                            <ul>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Option One</a></li>
                                        <li><a href="#">Option Two</a></li>
                                        <li><a href="#">Option Three</a></li>
                                        <li><a href="#">Option Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Inicio">IniciarSesion</a></li>

                    </ul>
                </nav>
            </header>

            <!-- Banner //Cooperativa QUINSALOMA-->
            <section id="banner">
                <h2>Cooperativa QUINSALOMA</h2>
                <p>Viaja seguro y confortable y haz tu experiencia inolvidable.</p>
                <ul class="actions special">
                    <li> <a class="nav-link text-dark button primary" asp-area="" asp-controller="Home" asp-action="Inicio">IniciarSesion</a></li>

                    <li><a href="#" class="button">Registrarse</a></li>
                </ul>
            </section>

            <!-- Main -->
            <section id="main" class="container">

                <section class="box special">
                    <header class="major">
                        <h2>
                            Porque viajar con nosotros?
                            <br />

                        </h2>
                        <p>
                            Con nosotros tendras mas confort ademas de la seguridad que ofrecen nuestra flota de vehiculos
                            podras disfrutar del paseo a tu estilo.
                        </p>
                    </header>
                    <span class="image featured"><img src="images/wq.jpg" alt="" /></span>
                </section>


                <section class="box special features">
                    <div id="product" class="block-5 space-between-blocks">
                        <div class="container">
                            <!-- HEADER -->
                            <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
                                <h3> <p class="block__pre-title mb-2"><b>POR QUÉ ELEGIRNOS</b></p></h3>
                                <h3 class="block__title mb-3">Tenemos conductores profesionales </h3>
                                <p>
                                    Por su gran Calidad,  Eficiencia, Rapidez y especialmente por la Flota Vehicular Moderna que ofrece al usuario mas comodidad al momento de viajar.
                                </p>
                            </div>
                            <div class="row align-items-center flex-column-reverse flex-lg-row px-2">
                                <!-- LEFT CONTENT -->
                                <div class="col-lg-4">
                                    <div class="card-2 d-flex flex-row flex-lg-row-reverse">
                                        <div>
                                            <span class="card-2__symbol mx-auto">

                                                <img src="~/assets/imgs/dd6.png" />

                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">
                                                Comodidad
                                            </h3>
                                            <p class="card-2__paragraph">
                                                Asientos Cama y
                                                Semicama para viajar mas comodo
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-2 d-flex flex-row flex-lg-row-reverse">
                                        <div>
                                            <span class="card-2__symbol mx-auto">
                                                <img src="~/assets/imgs/copo-de-nieve.png" />
                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">
                                                Aire acondicionado
                                            </h3>
                                            <p class="card-2__paragraph">
                                                No dejes que este clima arruine la diversion!
                                                un coche bien climatizado es el mejor aliado para viajar.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-2 d-flex flex-row flex-lg-row-reverse">
                                        <div>
                                            <span class="card-2__symbol mx-auto">
                                                <img src="~/assets/imgs/wifi.png" />
                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">Viaja conectado</h3>
                                            <p class="card-2__paragraph">
                                                Nuestros vehiculos ofrecen señal WIFI a todos aquellos dispositivos en el interior del vehículo. .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                              
                                <!-- RIGHT CONTENT -->
                                <div class="col-lg-4">
                                    <div class="card-2 d-flex">
                                        <div>
                                            <span class="card-2__symbol mx-auto">
                                                <img src="~/assets/imgs/choque-de-autos.png" />
                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">Seguridad</h3>
                                            <p class="card-2__paragraph">
                                                Vehiculos diseñados para priorizar la protección del conductor y los pasajeros por encima de todo.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-2 d-flex">
                                        <div>
                                            <span class="card-2__symbol mx-auto">
                                                <img src="~/assets/imgs/usb.png" />
                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">
                                                Cargador USB
                                            </h3>
                                            <p class="card-2__paragraph">
                                                Tienes a disposicion un conector de puerto USB para recargar tablets, Smartphone.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-2 d-flex">
                                        <div>
                                            <span class="card-2__symbol mx-auto">
                                                <img src="~/assets/imgs/video-marketing.png" />
                                            </span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div>
                                            <h3 class="card-2__title mb-2">
                                                Monitores Tv
                                            </h3>

                                            <p class="card-2__paragraph">
                                                Disfruta sin interrupciones de una pelicula mientras viajas hasta llegar a tu destino
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                </section>
                <section class="box special features">
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-bolt accent2"></span>
                            <h3>Paquetes</h3>
                            <p>Con nuestra flota de vehiculos nuevos 2020 equipados con airbag para cada pasajero te ofrecemos mas seguridad para tu familia, </p>
                        </section>
                        <section>
                            <span class="icon solid major fa-chart-area accent3"></span>
                            <h3>Encomiendas</h3>
                            <p>
                                Con nuestra flota de vehiculos nuevos 2020 equipados con airbag para cada pasajero te ofrecemos mas seguridad para tu familia y ccon ello nos ga
                                ganamos tu confianza
                            </p>
                        </section>
                    </div>
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-cloud accent4"></span>
                            <h3>Viajes</h3>
                            <p>Llega a tu destino de manera mas rapida con nosotros</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-lock accent5"></span>
                            <h3>Encargos</h3>
                            <p>Podras disfrutar del viaje sin limites</p>
                        </section>
                    </div>
                </section>



            </section>

            <!-- CTA -->
            <section id="cta">

                <h2>Sign up for beta access</h2>
                <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

                <form>
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-8 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Email Address" />
                        </div>
                        <div class="col-4 col-12-mobilep">
                            <input type="submit" value="Sign Up" class="fit" />
                        </div>
                    </div>
                </form>

            </section>

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li>
                    <li>Design: NUMBISOFT</li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/jquery.dropotron.min.js"></script>
        <script src="~/assets/js/jquery.scrollex.min.js"></script>
        <script src="~/assets/js/browser.min.js"></script>
        <script src="~/assets/js/breakpoints.min.js"></script>
        <script src="~/assets/js/util.js"></script>
        <script src="~/assets/js/main.js"></script>

    </body>

</html>
