
#map {
	border: black 5px solid;
	float: left;
	height: 500px;
	width: 75%;
}
#lista {
	float: right;
	height: 500px;
	width: 25%;
}

#total {
	overflow-y: scroll;
	height: 400px;
	width: 40%;
	border: black 5px solid;
}


#table1 {
	border: black 5px solid;
	overflow-y: scroll;
	height: 500px;
	display: block;
}
#usuarios {
	float: left;
	overflow-y: scroll;
	height: 400px;
	border: black 5px solid;
	width: 60%;
}
